.draggableNode {
  cursor: grab;
  min-width: 80px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  background-color: teal;
  color: #ffffff;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.draggableNode:active {
  cursor: grabbing !important;
  transform: scale(1.05);
  background-color: #086647 !important;
}

.draggableNode:hover {
  background-color: #02a071;
}
:global(.dark) .draggableNode:hover {
  background-color: #02a071;
}
:global(.dark) .draggableNode {
  background-color: #086647;
}

:global(.dark) .draggableNode:active {
  background-color: #00a3a1 !important;
}

.draggableNodeLabel {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 5px 5px 8px 5px;
  padding: 20px;
  transition: color 0.3s ease;
}

:global(.dark) .draggableNodeLabel {
  color: #d1d5db;
}

.nodeIcon {
  padding: 5px 14px 5px 0px;
  position: relative;
  bottom: 3px;
  right: 18px;
  font-size: 1rem;
}
